@model WebApplication1.Models.Country

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Country</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="Create" method="post">
            <div class="item">
                <label>Input state name</label>
                <input type="text" name="Name" />
            </div>
            <div class="item">
                <label>Input state code</label>
                <input type="text" name="StateCode" />
            </div>
            <div class="item">
                <label>Input Capital city name</label>
                <input type="text" name="City" />
            </div>
            <div class="item">
                <label>Input state area</label>
                <input type="text" name="Area" />
            </div>
            <div class="item">
                <label>Input state population</label>
                <input type="text" name="Population" />
            </div>
            <div class="item">
                <label>Input state region name</label>
                <input type="text" name="Region" />
            </div>
            <input type="submit" value="Отправить" />
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to the List", "Index")
</div>

</body>
</html>
