@model WebApplication1.Models.Country

@{
    Layout = null;
}
<h3>Error's page, if you have been sent to this page, it means you got a problem... </h3>
@{
    var data = ViewBag.Message;
}

<h3>@data</h3>