@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p><a asp-controller="Calc" asp-action="Add" asp-route-a=20 asp-route-b=20>Add/20/20</a></p>
    <p><a asp-controller="Calc" asp-action="Mul" asp-route-a=20 asp-route-b=10>Mul/20/10</a></p>
    <p>
        <a asp-controller="Calc" asp-action="Sub" asp-route-a=20 asp-route-b=10>Sub/20/10</a>
    </p>
    <p> <a asp-controller="Calc" asp-action="Div" asp-route-a=20 asp-route-b=10>Div/20/20</a></p>
</body>
</html>
