@model WebApplication1.Models.City

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Create</title>
    <style>
        label {
            display: inline-block;
            width: 100px;
        }

        .item {
            margin: 5px;
        }
    </style>
</head>
<body>

    <h4>City</h4>
    <hr />
    <form action="Create" method="post">
        <div class="item">
            <label>Input city name</label>
            <input type="text" name="Name" />
        </div>

        <input type="submit" value="Отправить" />
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>
